table{
    text-align: center;
    margin: auto;
}
td{
    padding: 10px;
}

#egyenloseg{
    background-color: #2765f5a3;
}
div{
    width: 100px;
    height: 100px;
    margin: auto;
}
#outputbox{
    background-color: #22252cc2;
    font-weight: bold;
    font-size: larger;
    text-align: right;
}
button{
    background-color: #22252cc3;
    color: #dbd6d6;
}