nav{
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-size: larger;
}
a:link{
    text-decoration: none;
}
a,a:visited{
    color: black;
    
}

#DeMarcus{
    float: left;
}
#leárazás{
    text-decoration: line-through;
}
a {
    transition-duration: 200ms;
}
.navbar:hover{
    background-color: #d5c8c8;

}
#termekleiras{
    
}
