nav{
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-size: larger;
}
a:link{
    text-decoration: none;
}
a,a:visited{
    color: black;
    
}
a:hover{

}
table{

}

body{
    background-color: #faf6f6;
}